:root {
    --white-text-color: #FFFFFF;
    --background-color: #2E2F42;
    --title-color: #2E2F42;
    --text-color: #434455;
    --hover-color: #404BBF;
    --img-background-color: #FFFFFF;
    --team-list-background-color: #F4F4FD;
    --button-color: #4D5AE5;
    --logo-color: #4D5AE5;
    --button-background-color: #F4F4FD;
}

body {
    font-family: 'Roboto';
    color: var(--title-color);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin: 0px;
}

.top-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 72px;

}
.logo {
    font-family: Raleway;
    font-size: 18px;
    font-weight: 800;
    text-decoration: none;
    color: var(--Main-text);
    text-transform: uppercase;
    letter-spacing: 0.03em;
     margin-left: 156px;
}

.navigaton-menu {
    display: flex; 
    gap: 76px;
    align-items: baseline;
    margin-top: 24px;
    margin-bottom: 24px;
}

.navigation-list {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 40px; list-style: none;
    margin-top: 0px;

}

.web {
    color: var(--logo-color);   
}
.navigation-item{font-weight: 500;}
.nav-link {
    color: var(--title-color);
    text-decoration: none;

}

.nav-link:hover :focus {
    color: var(--hover-color);
}

.nav-link:focus {
    color: var(--hover-color);
}

.adress-menu {
    display: flex;
    flex-direction: row;
    margin-right: 156px;
}

.adress-list {
    list-style: none;
    display: flex;
    margin-top: 24px;
    margin-bottom: 24px;
    gap: 40px;
}
.adress-item{font-weight: 500;}

.adress-link {
    color: var(--title-color);
    text-decoration: none;
    font-style: normal;
}

.adress-link:hover {
    color: var(--hover-color);
}

.adress-link:focus {
    color: var(--hover-color);
}

.hero-img {
    background-color: var(--background-color);
     display: flex; 
        height: 600px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}

.hero-text { display: flex;
    color: var(--white-text-color);
    font-size: 56px;
    line-height: 1.07;
    align-self: center;
    width: 496px;
    height: 120px;
    text-align: center;
}

.hero-button {
    background-color: var(--button-color);
    color: var(--white-text-color);
    cursor: pointer;
    font-weight: 500;
    letter-spacing: 0.04em;
    display: flex;
    height: 56px;
     width: 169px;
     align-items: center;
      justify-content: center;
    font-size: 16px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border:none;
}

.text-hide {
    display: none;
}
.feature{display: flex;
    margin-top: 120px;
    justify-content: center}
.feature-list {
    list-style: none;
    display: flex;
    gap: 24px;
    padding: 0px;
    margin: 0px;
}
.feature-item{ width: 264px;}

.feature-title {
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
    margin: 0px;
}

.feature-text {
    color: var(--text-color);
    margin: 0px;
    margin-top: 8px;
}
.actions{
    display: flex;
     flex-direction: column;
     align-items: center;
    margin-top: 120px;}
.section-title {
    font-size: 36px;
    color: var(--title-color);
    line-height: 1.1;
    text-transform: capitalize;
    display: flex;
    justify-self: center;
    margin-bottom: 72px;
    margin-top: 0px;
}

.actions-img-list { display: flex;
    list-style: none; 
    gap: 24px; 
    padding: 0px; 
    margin: 0px;
}

.actions-img {
    width: 360px;
    height: 300px;
}

.team {display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--team-list-background-color);margin-top: 120px;
    height: 732px;
}
.team-title{margin-top: 120px;}

.team-list-main {
    list-style: none; 
    display: flex; 
    gap: 24px;
    margin: 0px;
    padding: 0px;
}

.team-list {
    background-color: var(--img-background-color);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
        border-radius: 0px 0px 4px 4px; display: flex; flex-direction: column; align-items: center
}

.team-text-main {
    color: var(--title-color);
    line-height: 1.1;
    font-size: 36px;
}

.team-name {
    color: var(--title-color);
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
    margin-top: 32px;
    margin-bottom: 8px;
}

.team-position {
    color: var(--text-color);
    margin: 0px;
    margin-bottom: 32px;
}

.bottom-line {
    background-color: var(--background-color);
    color: var(--white-text-color); 
    height: 310px; 
    display: flex; 
    flex-direction: column;
}

.logo-down {
    font-family: Raleway;
    font-size: 18px;
    font-weight: 800;
    text-align: left;
    text-decoration: none;
    color: var(--white-text-color);margin-left: 156px; margin-top: 100px;
    margin-bottom: 16px;
}
.bottom-text{margin-left: 156px; width: 264px; }

.buttons-list {
    list-style: none;
}

.portfolio-list {
    list-style: none;
}

.portfolio-img {
    width: 360px;
    height: 300px;
}

.portfolio-title {
    color: var(--title-color);
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500
}

.portfolio-text {
    color: var(--text-color);
}

.buttons {
    background-color: var(--button-background-color);
    border: none;
    color: var(--button-color);
    letter-spacing: 0.04em;
    font-weight: 500;
}

.buttons:hover {
    background-color: var(--button-color);
    color: var(--white-text-color);
    cursor: pointer;
}

.buttons:focus {
    background-color: var(--button-color);
    color: var(--white-text-color);
}